<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Log In </title>
    <style>
        .failed{
            color: red;
        }
    </style>
</head>
<body>

<h3>My Custom Login Page</h3>

<form action="#" th:action="@{/authenticateTheUser}" th:method="POST">

    <!-- Check for Login Error -->
    <div class="failed" th:if="${param.error}">
        <i>Sorry! You entered invalid username/password.</i>
    </div>

    <p>
        User Name: <input type="text" name="username">
    </p>
    <p>
        Password: <input type="password" name="password">
    </p>
    <button type="submit" value="Login">Login</button>
</form>


</body>
</html>